* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--light);
  line-height: 1.6;
}
:root {
  --primary: #3498db;
  --primary-dark: #2980b9;
  --secondary: #2ecc71;
  --secondary-dark: #27ae60;
  --accent: #9b59b6;
  --dark: #2c3e50;
  --light: #f5f7fa;
  --gray: #7f8c8d;
  --light-gray: #ecf0f1;
}
header {
  background-color: var(--light);
  color: var(--dark);
  padding: 10px 0;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
.logo-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--dark);
  gap: 10px;
}
.logo-img {
  height: 40px;
  margin-right: 10px;
  border-radius: 5px;
}
.logo-text {
  font-size: 24px;
  font-weight: 700;
}
.logo-text span {
  color: var(--primary);
}
.nav-links ul {
  list-style: none;
  display: flex;
}
.nav-links ul li {
  margin: 0 15px;
}
.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  color: var(--dark);
  font-weight: 600;
  transition: color 0.3s ease;
  position: relative;
}
.nav-links ul li a:hover {
  color: var(--primary);
}
.nav-links ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--primary);
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
  left: 0;
}
.nav-links ul li a:hover::after {
  width: 100%;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}
.button-sign-in,
.button-sign-up {
  background-color: var(--primary);
  border: none;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease;
  display: inline-block;
  border: 2px solid var(--primary);
  cursor: pointer;
}
.button-sign-in:hover,
.button-sign-up:hover {
  background-color: white;
  color: var(--primary);
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(52, 152, 219, 0.2);
}
