.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6rem 4rem;
  background: linear-gradient(
    135deg,
    rgba(52, 152, 219, 0.1) 0%,
    rgba(46, 204, 113, 0.1) 100%
  );
  overflow: hidden;
  gap: 40px;
  margin: 0 auto;
}

.hero-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.hero-content h1 {
  font-size: 48px;
}

.hero-content h1 span {
  color: var(--primary);
}

.hero-content p {
  margin: 20px 0;
  font-size: 18px;
  color: var(--gray);
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.First-button,
.secondary-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.First-button {
  background-color: var(--primary);
  color: white;
}

.First-button:hover {
  background-color: var(--primary-dark);
}

.secondary-button {
  background-color: var(--light-gray);
  color: var(--dark);
}

.secondary-button:hover {
  background-color: var(--secondary-dark);
  color: white;
}

.hero-stats {
  display: flex;
  gap: 40px;
  margin-top: 30px;
}

.hero-stats p {
  font-size: 16px;
  color: var(--gray);
}

.hero-image {
  position: relative;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
}

.dashboard-preview {
  width: 100%;
  border-radius: 15px;
  transform: perspective(1000px) rotateY(0, 0, 0, -10deg);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.dashboard-preview:hover {
  transform: perspective(1000px) rotateY(10deg);
}

.floating-element {
  position: absolute;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  animation: float 4s ease-in-out infinite;
}

.floating-element:first-of-type {
  top: 5px;
  left: 5px;
}

.floating-element:last-of-type {
  bottom: 5px;
  right: 5px;
}

.floating-icon {
  font-size: 18px;
  color: var(--primary);
}

.timer-icon {
}

.task-icon {
}

.floating-element strong {
}

.floating-element p {
}
